form {
  width: 600px;
  margin-left: 4%;
  margin-top: 3%;
}

.form-inline {
  align-items: center;
}

#InputWebhook {
  width: calc(100% - 6.5em);
}

.input-group-append {
  width: 6.5em;
}

#CreateWebhook {
  width: 100%;
}

#InputTitle {
  width: calc(100% - 2rem - 1px);
}

#InputColor {
  width: auto;
  min-width: 17.5%;
  display: inline;
}

.security {
  -webkit-text-security: disc;
  -moz-text-security: disc;
  text-security: disc;
}

@media (max-width: 640px) {
  form {
    width: 450px;
  }
  h1 {
    font-size: 28px;
  }
}

@media (max-width: 450px) {
  form {
    width: 90%;
  }
  h1 {
    font-size: 24px;
  }
}

@media (max-width: 410px) {
  h1 {
    font-size: 20px;
  }
}

body, html {
  background-color: rgb(35, 40, 60) !important;
  color: white !important;
}

input, .input-group-append {
  height: 2em !important;
}

input, textarea, input::selection {
  background-color: rgb(25, 30, 45) !important;
  color: white !important;
}

button {
  background-color: rgb(114, 137, 218) !important;
  border: none  !important;
}

input[type="color"]::-webkit-color-swatch {
  background-color: rgb(114, 137, 218) !important;
}

.color-picker {
  background-color: rgb(30, 35, 50) !important;
  width: 24em !important;
}

.pcr-button, .pickr {
  border: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
  color: white !important;
}
